@model List<Friend>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List Friends | Home";
}
<h2>Index</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>