@model List<course_net_core_software.Models.Friend>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List Friends | Home";
}
<h2>Index</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>